#speakgenius-iframe {
  background-color:white;
  max-width: 676px;
  width: 92vw;
  border-width: 1px !important;
  height: 200px;
  border-radius: 7px;
  box-shadow: 0px 0px 7px #7D7E7F;
  border-top: black;
  border-color: white;
  border-left: black;
  border-color: #BBBDC1;
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100001;
  overflow-y: scroll;
}