body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0px;
}

.speakgenius-modal {
  /* background-color:#F9F9F9; */
  width: 100vw;
  height: 100vh;
  max-height: 150px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.center {
  justify-content: center;
  align-items: center;
}

#sg-screenShare {
  width: 100%
}

#sg-suggestedTime {
  width: 100%;
}

.sg-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}

.sg-bottom {
  width: 100%;
  height: 60px;
  padding: 10px;
  font-size: 30px;
  display: flex;
  text-align: center;
}

.sg-topLeft {
  min-width: 180px;
  display: flex;
  width: 25%;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}

.sg-leftButton {
  display: flex;
  width: 25%;
}

.sg-rightButton {
  display: flex;
  width: 25%;
}

.sg-troubleshoot {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
  /* min-width: 180px; */
}

.icon {
  margin-bottom: 5px;
}

.mdc-list-item {
  height: 30px !important;
}

#test {
  max-height: 120px;
  overflow-y: scroll;
  font-size: 14px !important;
}

.size-36 {
  font-size: 36px !important;
}